[submodule "plugins/start/coc.nvim"]
	path = plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugins/start/github-nvim-theme"]
	path = plugins/start/github-nvim-theme
	url = https://github.com/projekt0n/github-nvim-theme.git
[submodule "plugins/start/lualine.nvim"]
	path = plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "plugins/start/nvim-juliana"]
	path = plugins/start/nvim-juliana
	url = https://github.com/kaiuri/nvim-juliana.git
[submodule "plugins/start/vim-vsnip"]
	path = plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "plugins/start/nvim-lspconfig"]
	path = plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "plugins/start/papercolor-theme"]
	path = plugins/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "plugins/start/plenary.nvim"]
	path = plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "plugins/start/telescope.nvim"]
	path = plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "plugins/start/vim-fugitive"]
	path = plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/start/nx.nvim"]
	path = plugins/start/nx.nvim
	url = https://github.com/Equilibris/nx.nvim.git
[submodule "plugins/start/vim-hcl"]
	path = plugins/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
